.hometitle {
  border: 2px solid;
  padding: 10px;
  border-radius: 50px;
  border-color: rgb(255, 255, 255);

  opacity: 0.7;
  filter: alpha(opacity=50);
  zoom: 1;
  margin-top: 25%;

  text-align: center;
  padding-top: 3%;
  background-color: aliceblue;
}
.title {
  color: black;
}
